@{
    ViewData["Title"] = "Златния град на Балканите";
}
<h1>@ViewData["Title"]</h1>

<p>Вършец (Varshets) се намира в Северозападна България, разположен в подножието на връх Тодорини кукли, в северните склонове на Стара планина. В античиността градът е носил името “Медека” (Медикус-лечебен). Територията на днешния град е обитавана от траки, римляни и византийци. По-късно идват славяните, които дават и името на Вършец. Интересни забележителности в града са: Художествената галерия, Алеята с чинарите, храм Св. Георги, паркът “Слънчева градина” и художествената галерия.Останки от римски крепости в кв. Заножене. Ежегодно на празниците на Вършец в местността Зелени дел се провежда фолклорно надпяване. Курортът предлага прекрасни условия за балнеолечение. Термалните води на извора са с температура между 32.6 и 36.4 градуса Целзий и се използват за лечение на различни заболявания. В близост до града се намират: местност Зелени дел, подходящо място за отдих и почивка сред живописната природа; на 3 км. се намира Водопадът; на 12 км на югозапад се намира Клисурският манастир; на 16 км. в северозападна посока се намира Берковица; селата Черкаски и Долно Озирово, където са намерени останки от римски крепости. Вършец е изходен пункт за маркирани туристически маршрути във Врачански Балкан. София - Вършец - 84 км. Пловдив - Вършец - 232 км. Варна - Вършец - 469 км.</p>
